<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Exacerboom is a place where you can post the three things that you the most each day, and read the content that your friends and role models share. 

  It's your social news article feed.
</p>