<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Exacerboom is a place where you can post the three things that influence or entertain you the most each and every day, and read the content that your friends and role models share.
</p>