<footer class="footer">
  <small>
    Exacerboom
    by <a href="http://twitter.com/haus_">Andrew Hausdorf</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>