<footer class="footer">
  <small>
    Exacerboom
    by <a href="http://twitter.com/haus_">Andrew Hausdorf</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>